.teacherInfo {
	color: #FFF;
	line-height: 3rem;
	margin-left: 1rem;
	width:90%;
	-webkit-column-break-inside:avoid;
	position:relative;
}
.teacherInfo input {
	position:absolute;
	right:0;
}
.behaviors {
	color: #FFF;
	margin: auto 1rem auto 1rem;
	line-height:2.5rem;
	-webkit-column-break-inside:avoid;
}
.topcoat-dropdown {
	background: #595B5B;
	box-shadow: 0 0 0 1px #303233;
	border: none;
	border-top: 2px solid #666767;
	color: #FFF;
	text-shadow: 0 -1px 0 #000;
	padding: 3px 20px 4px 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 14px;
}
.comments {
	color: #FFF;
	margin: 1rem 0 5px 1rem;
}
.smallerFont {
	font-size:1rem;
	line-height:1rem;
	margin:5px;
	float:center;
	width:98%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.buttonspace {
	margin:1rem auto;
}
body {
	width:100%;
}
@media only screen and (min-width:674px) {
	.rightAlign, .leftAlign {
		-webkit-column-break-inside:avoid;
		display:inline-block;
		width:100%;
	}
	.alignmentBox {
		width:100%;
		-webkit-column-count:2;
		-webkit-column-gap:2%;
		margin-bottom:1rem;
	}
}
@media only screen and (min-width:1025px) {
	body {
		color:#FFF;
	}
	.topcoat-list__container {
		list-style-type:none;
	}
	.topcoat-navigation-bar__item {
		background-color:rgba(0,0,0,.3);
		height: 60px;
		line-height:60px;
		width: 30%;
		min-width:400px;
		margin:0 auto 2rem auto;
		border-radius:3px;
	}
	.mobileOnly {
		display:none;
	}
	.teacherInfo {
		line-height:1rem;
	}
	.leftAlign,
	.rightAlign {
		width:80%;
		padding:0 10%;
	}
}
.notification {
	display:block;
	position:absolute;
	width:300px;
	min-height:10px;
	background-color:#FFF;
	color:black;
	margin: -150px 0 0 -150px;
	left: 50%;
	top: 50%;
}
.notificationHolder {
	display:block;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(0,0,0,.5);
	z-index: 1000;
}
.notification--title {
	text-align: center;
	font-size:1.5rem;
	margin-top:1rem;
	margin-bottom:.5rem;
}
.notification--table {

}
.notification--message {
	margin: 1rem;
	text-align:center;
	white-space:pre-wrap;
	white-space:normal;
}
.notification--buttonHolder {
	color:#1D79FA;
	height:auto;
	min-height:2.5rem;
}
.notification--button {
	border-top:solid 1px #AAA;
	font-size:19px;
	line-height:2.5em;
	text-align:center;
}
.notification--title,
.notification--message,
.notification--table,
.notification--buttonHolder,
.notification--button {
	position:static;
}
.noDisplay {
	display:none;
}
.oneButton {
	width:100%;
	display:block;
}
.twoButton {
	width:50%;
	display:inline-block;
	border-right:solid 1px #AAA;
}
.threeButton {
	display:block;
	width:100%;
}
.notification--buttonHolder a.threeButton:last-child,
.notification--buttonHolder a.twoButton:last-child,
.oneButton {
	font-weight:bold;
}
.harmfulButton {
	color:red;
}