.teacherInfo {
	color: #FFF;
	line-height: 3rem;
	margin-left: 1rem;
}
.behaviors {
	color: #FFF;
	line-height: ;
	margin-left: 1rem;
}
.topcoat-dropdown {
	background: #595B5B;
	box-shadow: 0 0 0 1px #303233;
	border: none;
	border-top: 2px solid #666767;
	color: #FFF;
	text-shadow: 0 -1px 0 #000;
	padding: 3px 20px 4px 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 14px;
}
.comments {
	color: #FFF;
	margin: 1rem 0 5px 1rem;
}
.smallerFont {
	font-size:1rem;
	line-height:1rem;
	margin:5px;
}
.buttonspace {
	margin:1rem auto;
}