.center {
	margin:0 auto;
}
input[type="submit"].center {
	width:100%;
}
.tiny-text {
	font-size:9px;
}
.error {
	width:100%;
	height:auto;
	color:#F00;
	text-align:center;
}
.icon-arrows-plus {
	width:30px;
	height:30px;
	background-image:url("../img/arrows_plus.svg");
}
.icon-apple {
	width:30px;
	height:30px;
	background-image:url("../img/apple-gray.svg");
}
a.tab-link.active i.icon-apple {
	background-image:url("../img/apple.svg");
}
.icon-clipboard{
	width:30px;
	height:30px;
	background-image:url("../img/basic_todo_txt_gray.svg");
}
a.tab-link.active i.icon-clipboard {	
	background-image:url("../img/basic_todo_txt.svg");
}
.tabbar-label {
	line-height: 1;
	display: block;
	letter-spacing: .01em;
	font-size: 10px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* Your app custom files in this file */
.view-left {
  border-right: 1px solid #b2b2b2;
}
/* This will fix flicker navbar in left panel view */
.panel-left .page-content {
  padding: 0;
}
.panel-left .page {
  margin-top: 44px;
  padding-bottom: 44px;
}
.panel-left .navbar {
  position: relative;
  margin-bottom: -44px;
}
/* Because we have panels-overlay inside of .views we need to fix its open position for right panel */
body.with-panel-right-reveal .panel-overlay {
  margin-left: 0;
}
/* iPad Vertical */
@media (min-width: 569px) {
  .panel.panel-left.panel-cover {
    width: 320px;
    left: -320px;
  }
  body.with-panel-left-cover .panel-left {
    -webkit-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
  }
}
/* iPad Horizontal */
@media (min-width: 769px) {
  body .panel.panel-left.panel-cover {
    left: 0;
    width: 320px;
    display: block;
  }
  body.with-panel-left-cover .panel-left {
    -webkit-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .view-main {
    float: right;
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    width: -ms-calc(100% - 320px);
    width: calc(100% - 320px);
  }
  /* Let's hide panel-opener when left panel is visible */
  .view-main .navbar .open-panel {
    display: none;
  }
}
body {
	background-color:#F7F7F8;
}
.button-fix {
	-webkit-appearance:none;
}
.width-fix {
	padding:0;
}
i.icon.icon-info-blue {
	width:20px;
	height:20px;
	background-image:url("../img/infoButton.svg");
}
#banner {
	background-color: #F7F7F8;
	position: absolute;
	width: 100%;
	height: 20px;
	top: 0px;
	left: 0px;
	overflow: hidden;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	line-height: 20px;
	text-align: center;
	z-index: 9001;
	padding: 0 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-animation: fadeInSmall 0.3s ease;
}
#banner.close {
	-webkit-animation: fadeUpSmall 0.3s ease;
}
.reduce {
	-webkit-transform: translate3d(0,20px, 0);
	border-top:1px solid #c4c4c4;
}
@-webkit-keyframes fadeInSmall {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-15px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-webkit-keyframes fadeUpSmall {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-15px);
	}
}


/**********
* Flipper *
**********/

/*formContainer*/
#flipHolder {
	z-index:1;
	-moz-perspective: 800px;
	-webkit-perspective: 800px;
	perspective: 800px;
}

#flipHolder div {
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

#rrframeworkSelect {
	z-index:100;
}

#rrframeworkExample {
	z-index:1;
	opacity:0;
	position:absolute;
	top:0;
	left:-15px;
	height:376px;
	
	-moz-transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

#rrframeworkExample img {
	min-height:289px;
	max-height:96%;
	max-width:85%;
	display:block;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#rrframeworkExample a {
	position:absolute;
	bottom:15px;
	right:15px;
}

#flipHolder.flipped #rrframeworkSelect {
	
	opacity:0;
	
	-moz-transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}

#flipHolder.flipped #rrframeworkExample{
	
	opacity:1;
	
	-moz-transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}
.flipLink {
	display:block;
	text-align:right;
}
/********************
* RRFramework Table *
********************/
.rrFramework {
	width:100%;
	border-collapse:collapse;
}
.rrFramework tr td {
	border:1px #BBB solid;
}
.rrFramework tr:first-child td {
	border-top:none;
}
.rrFramework tr:last-child td {
	border-bottom:none;
}
.rrFramework tr td:first-child {
	border-left:none;
}
.rrFramework tr td:last-child {
	border-right:none;
}
.rrLetter {
	display:block;
	font-size:300%;
	text-align:center;
}
.rrLabel {
	display:block;
	font-size:100%;
	text-align:center;
}
.rrFramework tbody tr td a {
	display:block;
	width:100%;
	height:100%;
}
a.rrQuad.selected {
	font-weight:bold;
	color:#00aa00;
}